body {
    display: flex;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

nav {
    background-color: #0c2142;
    color: white;
    width: 200px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding-top: 20px;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

nav li {
    width: 100%;
    text-align: center;
    margin-bottom: 10px;
}

nav a {
    color: white;
    text-decoration: none;
    display: block;
    padding: 10px 0;
    width: 100%;
}

nav a:hover {
    background-color: #000069;
}

.nav-link.active {
    background-color: #000069;
}

.main-content {
    flex: 1;
    padding: 20px;
    background-color: #f0f0f0;
    overflow-y: auto;
}

.dashboard-container,
.models-container,
.attacks-container,
.test-container,
.personal-container {
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th,
td {
    border: 1px solid #ccc;
    padding: 10px;
    text-align: left;
}

th {
    background-color: #f2f2f0;
}

.form-group {
    margin-bottom: 15px;
}

label {
    display: block;
    margin-bottom: 5px;
}

input,
textarea,
select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #fff;
    color: #000;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #e6e6e6;
}